*{
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    padding: 20px;
}

.completed {
    text-decoration: line-through;
}

.remove {
    margin-left: 10px;
    color: red;
    cursor: pointer;
}
