header{
  background-color: #971312;
}
body {
  font-family: Arial, sans-serif;
  text-align:center;
  margin: 2em;
  background-color: #f0f0f0;
}

form {
  margin-bottom: 1em;
}

input {
  margin: 0.5em;
  padding: 0.5em;
}

button {
  margin-top:15px;
  padding: 0.5em 1em;
  cursor: pointer;
}
button:hover{
  background-color: orange;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  margin-bottom: 0.5em;
  padding: 0.5em;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#resultado {
  margin-top: 1em;
  font-weight: bold;
  font-size: 1.2em;
}

.erro {
  border: 2px solid red;
  background-color: #ffe6e6;
}
